main {
  display:flex ;
  flex-wrap: wrap;
}

body {
  margin: 0;
}

.fil{
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 0.8em;
}

.fil:hover{
  color: rgb(226, 82, 82);
}

article{
  padding: 2% 10% 2% 10%;
  /*margin: 3%;*/
  width: 100%; 
  /*backdrop-filter: blur(9px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f99f;
  border-radius: 1.5em;*/
}

article img{
  margin-left: 50px;
}

article p{
  text-align: justify;
  margin: 0 5% 2% 5%;

}

header{
  padding: 0.8em;
}

header a{
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
}

header nav ul{
  list-style: none; 
  justify-content: space-around;
  display: flex;
  margin: auto;
}
nav li{
  display: inline;
}

section{
  text-align: justify;
}

footer{
  margin-top: 0%;
  padding: 0.1em;
}

.les_projets{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;  
}

.projet{
  display: flex;
  padding:5px;
  position: relative;
  border-radius: 10px;
}

.projet img{
  width:300px;
  height:300px;
}

span{
  position: absolute;
  padding:3px;
  border-radius: 10px;
  background-color: rgb(226, 82, 82);
  color: white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

span:hover{
  opacity: 0.97;
}

/*actif{
  background-color: rgba(4,4,4,0.2);
  padding: 1%;
}*/

div img{
  margin: 0;
  width: 250px;
}

div{
  display: flex;
  
  box-sizing: border-box;
}
article h2{
  margin-left: 30px;
  font-size: 20px;
}

.empty{
  position: fixed;
  bottom: 0;
  width: 100%;
}