/* regles generales */
body {
  margin: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.hover {
  display: flex;
  padding: 5px;
  position: relative;
  border-radius: 10px;
}

#langages {
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0% 5% 2% 5%;
  min-width: 4em;
}

#langages img {
  height: 6em;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}
/* Header/Menu burger */

header {
  padding: 10px 20px;
  flex: 0 0 6000px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.menu-burger {
  cursor: pointer;
}

.menu-burger img {
  height: auto;
  width: 30px;
}

.menu {
  display: none;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  font-size: 30px;
}

.menu .contact {
  position: absolute;
  bottom: 10px;
}

.menu .contact img {
  width: 30px;
}

.menu .contact #reseau {
  display: inline;
}

/* main */

main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.container {
  display: flex;
}
article {
  padding: 2% 10% 2% 10%;
  width: 100%;
}

article p {
  text-align: justify;
  margin: 0 5% 2% 5%;
}

/* Mes projets */
.les_projets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

#projet img {
  width: 300px;
  height: 300px;

  margin: 0;
}

span {
  position: absolute;
  padding: 3px;
  border-radius: 10px;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

span:hover {
  opacity: 0.97;
}

div {
  display: flex;
  box-sizing: border-box;
}
article h2 {
  margin-left: 30px;
}

/* Gallerie */
.gallery {
  column-count: 4;
  column-gap: 10px;
  flex-wrap: wrap;
}

.item {
  display: inline-block;
  margin: 0 0 10px;
  break-inside: avoid-column;
  width: 50vh;
}

/* Home page */

.welcome {
  display: flex;
  width: 100%;
  height: 20vw;
  position: relative;
}

.welcome #bienvenue {
  margin: auto;
  z-index: 11;
}
.welcome img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vw;
  object-fit: cover;
  z-index: 9;
}

.filtre {
  width: 100%;
  height: 20vw;
  z-index: 10;
  position: absolute;
  top: 0;
}
.welcome #source {
  position: absolute;
  display: flex;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding: 5px 2px 2px 5px;
  border-radius: 5px 0 0 0;
}

.types {
  display: block;
  width: 30%;
}

/* Projets */

.infos_clefs {
  display: flex;
  justify-content: space-evenly;
}

.carré {
  width: 7em;
  height: 7em;
  border-radius: 3%;
}

.carré p {
  margin: auto;
  padding: 10%;
  text-align: center;
}

.intro {
  flex-wrap: wrap;
  width: fit-content;
  padding: 1em;
  border-radius: 2em;
}

.explications {
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1em;
}

.presentation {
  display: block;
  padding: 1em;
  margin: 1em 0;
  border-radius: 2em;
}

#lang {
  min-width: 30%;
}

/* Responsive */

@media only screen and (max-width: 1081px) {
  .menu-burger img {
    width: 80px;
  }

  .welcome {
    height: 35vw;
  }

  .welcome #bienvenue {
    margin: auto;
  }

  .welcome img {
    height: 35vw;
  }
  .filtre {
    width: 100%;
    height: 35vw;
    z-index: 10;
    position: absolute;
    top: 0;
  }

  .filAriane {
    display: none;
  }

  .inline {
    display: block;
  }

  .inline img {
    margin: auto;
    width: 35vh;
    height: 35vh;
    display: flex;
  }

  .carré {
    width: 20vw;
    height: 20vw;
  }
  .explications {
    display: flex;
    flex-wrap: wrap;
  }

  .types {
    width: 100%;
  }
}
