@font-face {
  font-family: "Monserrat";
  src: url("./../font/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("./../font/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}
:root {
  --fond : white; 
}

body {
  font-family: "Monserrat", sans-serif;
  color: rgb(85, 85, 85);
  font-size: larger;
  background-color: var(--fond);
}

header {
  color: white;
}
header a{
  color: white;
}

header a:hover {
  color: black;
}

h1 {
  font-weight: bold;
}

span{
  background-color: rgb(226, 82, 82);
}
