@font-face {
  font-family: "Monserrat";
  src: url("./../font/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("./../font/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}
:root {
  --fond: white;
  --text: rgb(63, 63, 63);
  --gris: #efefef;
  --apricot: #fed0bb;
  --melon: #fcb9b2;
  --redwood: #b23a48;
  --cordovan: #8c2f39;
  --chocolatecosmos: #461220;
  --oldcolor: rgb(226, 82, 82);
}

body {
  font-family: "Monserrat", sans-serif;
  color: var(--text);
  font-size: larger;
  background-color: var(--fond);
}

.welcome #bienvenue {
  font-size: 4vw;
  font-family: "Monserrat";
  font-weight: bold;
  color: black;
}

.welcome #source {
  background-color: rgba(40, 40, 40, 0.4);
  font-size: 1vw;
  color: white;
}

.welcome #source:hover {
  color: white;
}

.filtre {
  background: linear-gradient(
    to top,
    rgba(64, 64, 64, 0.8),
    10%,
    rgba(255, 234, 234, 0.7)
  );
  /*background-color: );*/
}

header {
  color: white;
}
header a {
  color: white;
}

header a:hover {
  color: black;
}

h1 {
  font-weight: bold;
}

span {
  background-color: var(--redwood);
}

/* Responsive */

@media only screen and (max-width: 1081px) {
  .menu ul li a {
    font-size: 4vh;
  }

  .contact ul li p {
    font-size: 2vh;
  }

  .welcome #bienvenue {
    font-size: 6vw;
    text-align: center;
  }
  #reseau img {
    width: 100px;
  }
}
