
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(85, 85, 85);
}

header a{
    color: white;
}

header a:hover{
    color: black;     
}

header{
    background-color: rgb(226, 82, 82);
    
}
footer{
    color: white;
    background-color: rgb(248, 151, 71);

}